
/* selector */
/*
.description {

	color:red;
}



.image {
	max-width: 460;
}

.description {
	max-width: 705;
}



element {
  --top-color: #F8981C;
  --mid-color: #BCBBBB;
  --bottom-color: #747704;
}
*/

img, embed, object, video {

  /* to avoid overflow */
  max-width: 100%; 

}
a, nav, button {
  min-width: 48px;
  min-height: 48px;
}

hr {
    color: #BCBBBB;
    background-color: #BCBBBB;
    height: 3px;
    border-width: 0;
}

/*
h1 {

    font-variant: small-caps;
}
*/

* {

    -webkitbox-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.name-title {
  text-align: right;
}
img.sample-image {
    width: 100%;
}
* {
    font-family: sans-serif;
    font-weight: 100;

    color: #BCBBBB;
    
}

.sample-info {
    color: #747704;
  
}

.big-middle-image {
    max-width: 100%;
    max-height: 40%;
}

img.screenshot {
    width: 100%;
    height: 60%;

}
.sample {
  height: 25%;
}

.samples {

  display: flex;

}

